body{
	background-color: rgb(166, 189, 247);
   color: rgb(158, 7, 246); }

nav
   {height: 6000px;
   width: 200px;
   float: left;
   padding: 5px;
   line-height: 30px; }

footer
   {text-align: center;
    margin-right: 200px; }

header
    {text-align: center; }
    
